<section>
  <div>
    <button routerLink="/bemvindo" class="material-icons back-button">arrow_back</button>
  </div>
  
  <div>
    <h1>Insira suas informações para realizar o login</h1>
  </div>

  <form>

    <div class="input">
      <label for="email">E-mail</label>
      <input name="email" id="email" type="email" placeholder="email" required>
    </div>

    <div class="input">
      <label for="senha">Senha</label>
      <input name="senha" id="senha" type="password" placeholder="Senha" required>
    </div>

    <div>
      <button class="submit-button">Entrar</button>
    </div>

  </form>

</section>
