<section class="container">

  <div class="cabecalho">

    <header>
      <div>
        <button class="logo"></button>
      </div>
      <div class="help">
        <button class="material-icons help-icon">help_outline</button>
      </div>

      <div class="perfil">
        <button class="botao-perfil"></button>
      </div>
    </header>

    <h1>Olá, Daniela</h1>

    <p>Veja aqui as novidades do mundo do design e fique por dentro de tudo que acontece</p>

    <nav>
      <a>Para você</a>
      <a>UI/UX</a>
      <a>Design gráfico</a>
      <a>Motion</a>

    </nav>
    <div class="cards-principal">

    </div>

  </div>

</section>
